body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  text-align: center;
}

#photo {
  max-width: 90vw;     /* ekran genişliğine sığsın */
  max-height: 80vh;    /* ekran yüksekliğine sığsın */
  width: auto;         /* orijinal oran KORUNUR */
  height: auto;        /* orijinal oran KORUNUR */
  display: block;
  margin: 0 auto;
}

#caption {
  margin-top: 10px;
  font-size: 16px;
}
